@import url('https://fonts.googleapis.com/css2?family=Clear+Sans:wght@400;700&display=swap');

.skill-bars{
  padding: 25px 30px;
  width: 600px;
  background: #fff;
  margin: 0 auto; /* Centraliza a div skill-bars */
  box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
  border-radius: 10px;
  align-items: center;
}
.skill-bars .bar{
  margin: 20px 0;
}
.skill-bars .bar:first-child{
  margin-top: 0px;
}
.skill-bars .bar .info{
  margin-bottom: 5px;
}
.skill-bars .bar .info span{
  font-weight: 500;
  font-size: 17px;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
  100%{
    opacity: 1;
  }
}
.skill-bars .bar .progress-line{
  height: 10px;
  width: 100%;
  background: #f0f0f0;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
              0 1px rgba(255,255,255,0.8);
  animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}
.bar .progress-line span{
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: #ff0000;
  animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}
.bar .progress-line.html span{
  width: 90%;
}
.bar .progress-line.lingc span{
  width: 40%;
}
.bar .progress-line.bootstrap span{
  width: 85%;
}
.bar .progress-line.python span{
  width: 50%;
}
.bar .progress-line.mysql span{
  width: 75%;
}
.bar .progress-line.php span{
  width: 75%;
}
.bar .progress-line.oracle span{
  width: 75%;
}
.bar .progress-line.postgresql span{
  width: 75%;
}
.bar .progress-line.kotlin span{
  width: 75%;
}
.bar .progress-line.android span{
  width: 75%;
}
.bar .progress-line.linux span{
    width: 30%;
}
.bar .progress-line.erp span{
    width: 80%;
  }
  .bar .progress-line.resol span{
     width: 100%;
  }
  .bar .progress-line.datan span{
     width: 75%;
  }
 .bar .progress-line.admesc span{
     width: 95%;
  }
  .bar .progress-line.atend span{
     width: 100%;
  }
  .bar .progress-line.fatu span{
     width: 65%;
  }
  .bar .progress-line.supo span{
     width: 100%;
  }
  .bar .progress-line.comu span{
     width: 100%;
  }
  .bar .progress-line.finan span{
    width: 85%;
  }

.progress-line.html span::after{
    content: "85%";
  }
  .progress-line.lingc span::after{
    content: "40%";
  }
  .progress-line.bootstrap span::after{
    content: "85%";
  }
  .progress-line.python span::after{
    content: "90%";
  }
  .progress-line.mysql span::after{
    content: "55%";
  }
  .progress-line.php span::after{
    content: "60%";
  }
  .progress-line.oracle span::after{
    content: "40%";
  }
  .progress-line.postgresql span::after{
    content: "70%";
  }
  .progress-line.kotlin span::after{
    content: "80%";
  }
  .progress-line.android span::after{
    content: "75%";
  }
  .progress-line.linux span::after{
    content: "30%";
  }
  .progress-line.erp span::after{
    content: "80%";
  }
  .progress-line.resol span::after{
    content: "100%";
  }
  .progress-line.datan span::after{
    content: "75%";
  }
  .progress-line.admesc span::after{
    content: "95%";
  }
  .progress-line.atend span::after{
    content: "100%";
  }
  .progress-line.fatu span::after{
    content: "65%";
  }
  .progress-line.supo span::after{
    content: "100%";
  }
  .progress-line.comu span::after{
    content: "100%";
  }
  .progress-line.finan span::after{
    content: "85%";
  }

.progress-line span::before{
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
.progress-line span::after{
  position: absolute;
  top: -28px;
  right: 0;
  font-weight: 500;
  background: #000;
  color: #fff;
  padding: 1px 8px;
  font-size: 12px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
  100%{
    opacity: 1;
  }
}

/* CSS para dispositivos menores */
@media (max-width: 768px) {
    .skill-bars {
      width: 90%;
    }
    .bar .info span {
      font-size: 14px;
    }
    .progress-line {
      height: 8px;
    }
  }
  
  /* CSS para dispositivos ainda menores */
  @media (max-width: 576px) {
    .skill-bars {
      width: 100%;
    }
    .bar .info span {
      font-size: 12px;
    }
  }
  